 <div class="menu-order-item-details-container">
     <div class="menu-item-img-wrraper">
        <img src={{orderImg}} alt={{orderImg}} />
     </div>
  <div class="menu-item-details-wrraper">
          <p class="menu__item__type">{{orderDetails?.type}}</p>
          <p class="menu__item__name">{{orderDetails?.name}}</p>
          <p class="menu__item__price"><span>Price:</span>{{orderDetails?.price}}</p>
          <p class="menu__item__details__text">{{orderDetails?.description}}</p>
          <button>Add to Cart</button>
  </div>
</div>
