<div class="about-us-desc-container">
  <h6 class="about__us__desc__heading">Our History</h6>
    <div class="about-us-desc-text-wrrapper">
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur non fuga autem assumenda minima labore. Accusantium sed repudiandae nemo id, vitae reiciendis tempore omnis laborum sapiente earum error dicta adipisci facere ducimus officiis quod debitis! Nihil laboriosam totam, excepturi eius cupiditate et maxime facilis veritatis sunt. Nulla a molestiae consequuntur!</p>
    </div>
</div>
