<header>
  <a *ngIf="auth.isAuthenticated()" class="cart" routerLink="/checkout"
    ><span class="cart__item__counter">{{cartCount}}</span
    ><img class="cart__icon" src="assets/icons/cart.svg"
  /></a>
  <a class="navbar__brand">Robberto Pizza</a>
  <a (click)="toggleNavbar()" class="navbar__toggle"
    ><img src="assets/icons/bars.svg" alt="bars.svg"
  /></a>
  <nav
    (window:resize)="setVisibilityonDesktop()"
    [ngClass]="navbarState ? 'navbar--open' : 'navbar--closed'"
  >
    <ul>
      <li class="nav__link">
        <a routerLink="/home" routerLinkActive="activeNavLink">Home</a>
      </li>
      <li class="nav__link">
        <a routerLink="/about" routerLinkActive="activeNavLink">About</a>
      </li>
      <li class="nav__link">
        <a routerLink="/orders" routerLinkActive="activeNavLink">Orders</a>
      </li>
      <li *ngIf="auth.isAuthenticated()" class="nav__link">
        <a routerLink="/my-orders" routerLinkActive="activeNavLink">My Orders</a>
      </li>
      <li *ngIf="!auth.isAuthenticated()" class="nav__link">
        <a routerLink="/login" routerLinkActive="activeNavLink">Login</a>
      </li>
      <li *ngIf="auth.isAuthenticated()" class="nav__link">
        <a routerLink="/logout" routerLinkActive="activeNavLink">Logout</a>
      </li>
      <li *ngIf="!auth.isAuthenticated()" class="nav__link">
        <a routerLink="/register" routerLinkActive="activeNavLink">Register</a>
      </li>
    </ul>
  </nav>
</header>
