<div class="delivery-card-container">
  <div class="delivery-card-item">
    <img
      class="delivery__icon"
      src="assets/icons/delivery-card/food.svg"
      alt="food.svg"
    />
    <p class="delivery__text">order your food</p>
  </div>
  <div class="delivery-card-item">
    <img
      class="delivery__icon"
      src="assets/icons/delivery-card/truck.svg"
      alt="truck.svg"
    />
    <p class="delivery__text">delivery location</p>
  </div>
  <div class="delivery-card-item">
    <img
      class="delivery__icon"
      src="assets/icons/delivery-card/location.svg"
      alt="location.svg"
    />
    <p class="delivery__text">delivery or pick up</p>
  </div>
</div>
