.menu-orders-navigation{
  position: relative;
  top: 5rem;
}

.select__menu__heading{
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-family: "Dancing Script";
}
