<div class="order-menu-item">
  <div class="order-item-img-wrraper">
    <img src="{{ serverImgUrl }}{{ Order?.img }}" alt="{{ Order?.img }}" />
  </div>
  <div class="order-item-details-wrraper">
    <p class="order__name">{{ Order?.name }}</p>
    <p class="order__type">{{ Order?.type }}</p>
    <p class="order__item__price"><span>$</span>{{ Order?.price }}</p>
    <button class="order__item__details__btn" (click)="orderItemDetails(Order)">
      read more
    </button>
    <button class="order__item__cart__btn" (click)="addToCart(Order)">
      add to cart
    </button>
  </div>
</div>
