<div class="order-menu-item">
  <div class="order-item-img-wrraper">
       <img src={{serverImgUrl}}{{topOrder?.img}} alt={{topOrder?.img}}>
  </div>
<div class="order-item-details-wrraper">
   <p class="order__name">{{topOrder?.name}}</p>
   <p class="order__type">{{topOrder?.type}}</p>
   <p class="order__item__price"><span>$</span>{{topOrder?.price}}</p>
   <button class="order__item__details__btn">read more</button>
   <button class="order__item__cart__btn">add to cart</button>
</div>
</div>
