<div class="add-product-container">
  <form
    [formGroup]="addProductForm"
    (ngSubmit)="addNewProduct()"
    enctype="multipart/form-data"
  >
    <div
      class="errors-container"
      *ngIf="
        (addProductForm.get('Name').touched &&
          addProductForm.get('Name').hasError('required')) ||
        (addProductForm.get('Description').touched &&
          addProductForm.get('Description').hasError('required')) ||
        (addProductForm.get('Category').touched &&
          addProductForm.get('Description').hasError('required')) ||
        (addProductForm.get('TopOffer').touched &&
          addProductForm.get('Description').hasError('required')) ||
        (addProductForm.get('Price').touched &&
          addProductForm.get('Price').hasError('required')) ||
        (addProductForm.get('Img').touched &&
          addProductForm.get('Img').hasError('required'))
      "
    >
      <p>*Fields cannot be empty!</p>
    </div>
    <div *ngIf="showSuccessMessage" class="message-container">
      <p>Product added!</p>
    </div>
    <div class="form-group">
      <label for="Name">Name:</label>
      <input type="text" name="Name" formControlName="Name" />
      <label for="Description">Description</label>
      <textarea
        id="description"
        name="Description"
        cols="40"
        rows="7"
        formControlName="Description"
      >
      </textarea>
      <label for="Category">Category:</label>
      <select name="Cattegory" id="category" formControlName="Category">
        <option value="Pizza">Pizza</option>
        <option value="Pizza">Sandwich</option>
        <option value="Pizza">Drink</option>
        <option value="Pizza">Desert</option>
      </select>
    </div>
    <div class="form-group">
      <label for="top-offer">Top offer:</label>
      <select name="TopOffer" id="topOffer" formControlName="TopOffer">
        <option value="false">No</option>
        <option value="true">Yes</option>
      </select>
      <label for="Price">Price:</label>
      <input type="number" name="Price" formControlName="Price" />
      <label for="Img">Image:</label>
      <input type="file" (change)="onFileChange($event)" />
      <button
        [disabled]="!addProductForm.valid"
        class="add__product__btn"
        type="submit"
      >
        Add Product
      </button>
    </div>
  </form>
</div>
